* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: #3a1078;
  background: linear-gradient(to bottom, #5135ac 50%, #3a1078 100%);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

header {
  color: #ffb200;
}

header > h1 {
  text-align: center;
  padding: 10px;
  font-family: "Nosifer", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid grey;
  gap: 8px;
  padding: 8px;
  background: #4e31aa;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  border: 1px solid grey;
  background: #3a1078;
  cursor: pointer;
  border-radius: 12px;
  font-family: "Lacquer", system-ui;
  font-weight: 700;
  font-style: normal;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: #ffb200;
  width: 100%;
  padding: 5px;
  color: #3a1078;
}

small > p > a {
  color: #3a1078;
}
